/* Universal css rule */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting a halloween themed background for the website
credit: https://css-tricks.com/perfect-full-page-background-image/ */
html {
    background: url(/assets/images/jack-o-lantern-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Gothic webfont kit from Font Squirrel */
@font-face {
    font-family: pphatton-medium-webfont, sans-serif;
    src: url(pphatton-medium-webfont.woff);
}

/* Temporary title style */
.title {
    color: ghostwhite;
    font-family: 'Nosifer';
    background-color: rgba(57, 56, 56, 0.465);
    font-size: 70px;
    border-radius: 8px;
    max-width: 70%;
    margin: 1em auto;
    text-align: center;
}


